body, header, div, section,article, sidebar, nav, footer{
    display:block;
}

sidebar, article{
    display: flex;
}

sidebar{
    width: 200px;
    height: 600px;
}
#grit{
    background-image: url('../images/wine.jpg');
    width: 200px;
    height: 100%;
    margin-left: 30px;
}

#p1, #p2, #p3{
    color: white;
    
}

#num1, #num2, #num3{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    display: grid;
    place-content:center;
    width: 30px;
    height: 30px;
     margin-top:50px;
    
}

#comp{
    margin-left: 60px;
    margin-top: 80px;
}

#num4{
    color: white;
    margin-top: 80px;
    
}

#squbox{
    height: 30px;
    width: 30px;
    border: 2px solid white;
    top:70px;
    margin-left: 60px;

}

#topimage{
    width: 100px;
    height: 80px;
}

#main-content{
    display: flex;
}

article img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 100px;
    
}

#plus{
    color: black;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 100%;
    display: grid;
    place-content: centr;
    place-content: center;
    margin-top: 20%;
    margin-left: 20px;
    
}
#imgplus{
    display: flex;
}
#para{
    font-size: 13px;
    text-align: center;
}

#ldiv{
     width: 80%;
    height: 100%;
    border: 1px solid gray;
    box-shadow: gray;
    
     box-shadow: 3px 3px 1px grey;
}

#sdiv{
    height: 50%;
    width: 60%;
    padding: 20px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

#me{
    color: black;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 140px;
}
#me:hover{
    border-color: brown;
                                               
    text-decoration: none;
    font-size: 16px;
}