div,section,body{
    display: block;
}

#main{
    width: 80%;
    box-shadow: 3px 3px 1px #77777;
    height: 400px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
}

#sidebar{
    background: url ('../images/office.jpg') center center no-repeat;
    height: 100%;
    width: 25%;
    background-size: cover;
}

button{
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 500px;
}
#image{
    width: 70%;
    margin-top: 100px;
    padding: 10px;    
}
.images{
    width: 30px;
    margin-left: 70px;
    position: relative;
    top: -40px;
}
.plus{
    position: relative;
    left: 5px;
    width: 30px;
    top: -35px;
}
#user{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 20px;
}

#content{
    text-align: center;
}


#name{
    padding: 10px;
    background: black;
    border-radius: 40px;
    width: 125px;
    color: #fff;
    margin-left: 200px;
}


#sub-main{
    width: 100%;
    margin-left: -50px;
}

#message{
    text-align: center;
    width: 50%;
    margin-left: 150px;
}

/*sidebar styling*/
#square{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 30px;
}

#circle{
    border-radius: 100%;
    background: #fff;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    margin-top: -8px;
}

#recorder{
    color: #fff;
}

#recorder span{
    border-radius: 100%;
    border: 2px solid white;
    padding: 2px;
    width: 20px !importance;
    margin-left: 60px;
}

#my-options{
    margin-top: 30px;
}

#recorder p{
    text-align: center;
}