div,section,body{
    display: block;
}

#main{
    display: flex;
    width: 80%;
    border: 2px solid black;
    height: 400px;
    margin: 0 auto;
    margin-top: 70px;
}

#sidebar{
    background: url('../images/office.jpg')  center center no-repeat;
    height: 400px;
    width:  25%;
    background-size: cover;
}
button{
    float:right;
    background: transparent; /*let color fade away and assume backround color*/
    border-bottom: 2px solid black;
    position:relative;
    left: 500px;
    border: none;
}

#user{
     width: 80px;
    height: 80px;
    border-radius: 100%;
}

.plus{
    position: relative;
    left: 20px;
    width:50px;
    height: 50px;
    top: -30px;
    
}
.images{
     width: 50px;
    height: 50px;
    margin-left: 20px;
    top: -50px;
}


}
name{
    padding: 10px;
    background: black;
    border-radius: 40px;
    width: 125px;
    color: white;
    margin-left: 180px;
}


/*sidebar styling*/
#square{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    padding: 5px;
}

#circle{
    border-radius: 100%;
    background: white;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    margin-top: -8px;
}

#recorder{
    color: white;
}

#recorder span{
    border-radius: 100%;
    border: 2px solid white;
    padding: 2px;
    width: 20px;
    margin-left: 20px;
    margin-top: 50px;
}