div,section,body{
    display: block;
}

#main{
    background-color:gray;
    background-size: cover;
    width: 100%;
    height: 600px;;
}
#mother{
    width: 80%;
    border: 1px solid black;
    height: 400px;
    margin: 0 auto;
    margin-top: 70px;;
    display: flex;
}

#sidebar{
    width: 25%;
     height: 400px;
    background: url('../images/g.jpg')
        center center no-repeat;
    background-size: cover;
    position: relative;
   
}
#square{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    margin-left: 85px;
    position: relative;
    top: 17px;
}


#circle{
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 7px;
    
}

#my-options{
    margin-top: 70px;
    margin-left: 70px;
    position: absolute;
    top: 54px;
    
}


.recorder{
    color: white;
    font-size: 13px;
}
.recorder:hover{
    color: cyan;
    font-size: 17px;
}

.recorder span{
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid white;
    padding: 2px;
    margin-left: 20px;
}

#chidera{
position: absolute;
margin-top: 320px;
color: white;
margin-left: 50px;
}
#chidera:hover{
        color: cyan;
        font-size: 17px;
}
#chi{
    text-align: center;
    font-size: 11px;
    color: white;
    margin-top: 340px;
}
#chi:hover{
    color: cyan;
    font-size: 12px;
}
#square:hover{
    color: cyan;
}

.plus{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 180px;
}

.message{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    left: -10px;
    top: -30px;
}

.dera{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

#rightdiv{
    margin-left: 240px;
    margin-top: 20px;
    position: relative;
}

#message{
    text-align: center;
    width: 50%;
    font-size: 14px;
    margin-left: 150px;
}
#more{
    margin-left: 300px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button{
    float: right;
}